<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portafolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portafolio.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>


    <header class="header p-4">
        <nav class="header__nav">
            <ul class="header__menu ">
                <li class="header__menu-item"><a href="#aboutMe" class="header__menu-link">Sobre mi</a></li>
                <li class="header__menu-item"><a href="#experience" class="header__menu-link">Experiencia</a></li>
                <li class="header__menu-item"><a href="#highlightedProjects" class="header__menu-link">Proyectos</a></li>
                <li class="header__menu-item"><a href="#skills" class="header__menu-link">Habilidades</a></li>
            </ul>
        </nav>
    </header>

    <main role="main" class="pb-3 mb-0">
            @RenderBody()
    </main>


    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="~/js/ScrollRevealAnimations.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>