html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



/*navbar css*/
.navbar {
    background-color: #2C3E50;
    color: #ECF0F1;
}


/*Hero css*/
.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.hero h3, .hero h2 {
    font-size: 1.875rem;
}


h1{
    font-size:3.6rem;
}

.hero-desarrollador-imagen {
    width: 20rem;
    height: 25rem;
}





/*About me section css*/

.about-me {
    background-color: #6E07F3;
}

.descriptionAboutMe{
    max-width:800px;
}



/*Skills section*/

/* Estilos generales para los íconos */
#skills img {
    width: 100px;
    height: auto;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 576px) {
    #skills img {
        width: 50px;
        height: auto;
    }
}

/* Ajuste para pantallas medianas */
@media (max-width: 768px) {
    #skills img {
        width: 75px;
        height: auto;
    }
}



/*Experience section css*/

.experience-item {
/*    padding: 20px;*/
    background-color: #fff;
/*    margin-bottom: 20px; */
}

.experience-date {
    margin-bottom: 10px;
    font-size: 0.85rem;
}

.experience-company {
    margin-bottom: 10px; 
}

.experience-description {
    margin: 0;
}


/*footer section css*/

.footer {
    height: 400px;
    background-color: #6E07F3; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    padding: 1rem;
    color: white;
    text-align: center;
}

.footer .box {
    background-color: #202b47;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-top: 0; 
    width: 80%; 
    max-width: 800px;
}


.footer .box h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: white;
}

.footer .box a {
    background-color: transparent;
    border: 2px solid #08fdd8; 
    color: #08fdd8;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    text-decoration:none;
}

.footer .box a:hover {
    background-color: #08fdd8;
    color: #202b47;
    cursor: pointer;
}

.footer .contact-info {
    margin: auto 0; 
}

.footer .contact-info a.rounded-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 10px; 
}

.footer .contact-info a.rounded-circle:hover {
    opacity: 0.7;
}



/*ProjectsSection*/
.personalProjects, .projectsInCompanies{
    cursor:pointer;
}





