@page
@model IndexModel
@{
    ViewData["Title"] = "Mi portafolio";
}


<section class="hero p-4 text-center">
    <div class="container">
        <img class="hero-desarrollador-imagen img-fluid rounded-circle" src="/Images/foto_mia.svg"/>
        <h1>Hola, soy Carlos Santamaría</h1>
        <h2>Desarrollador web y móvil</h2>
        <h3>Apasionado por crear soluciones innovadoras</h3>
        <img class="img-fluid hero-inferior-imagen" src="/Images/hero-inferior.svg" />
    </div>
</section>


<section class="about-me p-4 text-white">
    <div class="container">
        <h2 class="text-center">Conóceme</h2>
        <p class="lead mx-auto descriptionAboutMe">
            Mi trayectoria comenzó durante mis estudios de Ingeniería en Sistemas Computacionales, donde tuve la oportunidad de realizar prácticas profesionales en dos empresas.
            Durante estas experiencias, trabajé en el desarrollo de proyectos web y móviles, aplicando mis conocimientos para crear soluciones eficientes y adaptadas a las necesidades de los usuarios.
            Aunque estoy en el inicio de mi carrera, mi pasión por la programación me ha llevado a aprender de manera autodidacta, siempre buscando nuevas oportunidades para mejorar mis habilidades técnicas y adquirir nuevos conocimientos.
        </p>
    </div>
</section>


<section class="p-4 skills">
    <div class="container">
        <h2 class="text-center mb-3">Habilidades</h2>
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img class="img-skills" src="~/Images/programming.png"/>
                        <h3 class="card-title mb-3">
                            Lenguajes
                        </h3>
                        <span class="badge bg-primary">C#</span>
                        <span class="badge bg-primary">Javascript</span>
                        <span class="badge bg-primary">HTML</span>
                        <span class="badge bg-primary">CSS</span>
                        <span class="badge bg-primary">SQL</span>
                    </div>
                </div>
            </div> 
            <div class="col-md">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img class="img-skills" src="~/Images/framework.png" />
                        <h3 class="card-title mb-3">
                            Frameworks y librerias
                        </h3>
                        <span class="badge bg-primary">jQuery</span>
                        <span class="badge bg-primary">Bootstrap</span>
                        <span class="badge bg-primary">.NET</span>
                        <span class="badge bg-primary">ASP.NET</span>
                        <span class="badge bg-primary">MAUI</span>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img class="img-skills" src="~/Images/platform.png" />
                        <h3 class="card-title mb-3">
                            Herramientas y plataformas
                        </h3>
                        <span class="badge bg-primary">Git</span>
                        <span class="badge bg-primary">GitHub</span>
                        <span class="badge bg-primary">Figma</span>
                        <span class="badge bg-primary">Azure DevOps</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="experience p-4">
    <div class="container">
        <h2 class="text-center mb-3">Experiencia</h2>
        <div class="row g-4">
            <div class="col-lg-4">
                <div class="experience-item">
                    <h4 class="experience-date">Junio - Septiembre 2022</h4>
                    <h5 class="experience-company">Servicios de Software Ehecatl</h5>
                    <p class="experience-description">Capacitación en desarrollo web</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="experience-item">
                    <h4 class="experience-date">Agosto 2023 - Julio 2024</h4>
                    <h5 class="experience-company">Tubos de Acero de Mexico SA</h5>
                    <p class="experience-description">Desarrollé aplicaciones web y .NET utilizando C#, abarcando proyectos en MAUI App, MVC App y Web API. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="experience-item">
                    <h4 class="experience-date">Agosto 2024 - Presente</h4>
                    <h5 class="experience-company">SHARKSIA</h5>
                    <p class="experience-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec est id sapien efficitur facilisis.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="projects p-4">
    <div class="container">
        <h2 class="text-center mb-3">Proyectos</h2>
        <div class="row text-center g-3">
            <div class="col-md">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3">Manejador de tareas</h3>
                        <p class="card-text">Breve descripción del proyecto 1, explicando el objetivo y las funcionalidades clave.</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3">Manejo de presupuestos</h3>
                        <p class="card-text">Breve descripción del proyecto 2, explicando el objetivo y las funcionalidades clave.</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3">iContainer</h3>
                        <p class="card-text">Breve descripción del proyecto 3, explicando el objetivo y las funcionalidades clave.</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="mt-3 d-block mx-auto btn btn-primary">Ver todos los proyectos</button>
    </div>
</section>



<footer class="footer text-white">
    <div class="box">
        <h2>Te interesó mi perfil?</h2>
        <a href="mailto:alexrace18@gmail.com">Contáctame</a>
    </div>
    <div class="contact-info d-flex justify-content-center">
        <a class="rounded-circle" target="_blank" href="https://www.linkedin.com/in/carlos-santamaria-solano-83703a1a6/">
            <i class="bi bi-linkedin social-icons"></i>
        </a>
        <a class="rounded-circle" target="_blank" href="https://github.com/Charly7017">
            <i class="bi bi-github social-icons"></i>
        </a>
    </div>
    <span class="text-center">Creado por Carlos Santamaría (2024) ©</span>
</footer>
















