@page
@model IndexModel
@{
    ViewData["Title"] = "Mi portafolio";
}


<section class="hero p-4 text-center">
    <div class="container">
        <img class="img-fluid rounded-circle" src="/Images/foto mia.jpeg" style="max-width: 200px;" />
        <h1>Hola, soy Carlos Santamaría</h1>
        <h2>Desarrollador web y móvil</h2>
        <h3>Apasionado por crear soluciones innovadoras</h3>
        <img class="img-fluid" src="/Images/hero-inferior.svg" style="max-width: 100%; height: auto;" />
    </div>
</section>


<section class="about-me p-4 text-white">
    <div class="container">
        <h2 class="text-center">Conóceme</h2>
        <p class="lead mx-auto descriptionAboutMe">
            Mi trayectoria comenzó durante mis estudios de Ingeniería en Sistemas Computacionales, donde tuve la oportunidad de realizar prácticas profesionales en dos empresas.
            Durante estas experiencias, trabajé en el desarrollo de proyectos web y móviles, aplicando mis conocimientos para crear soluciones eficientes y adaptadas a las necesidades de los usuarios.
            Aunque estoy en el inicio de mi carrera, mi pasión por la programación me ha llevado a aprender de manera autodidacta, siempre buscando nuevas oportunidades para mejorar mis habilidades técnicas y adquirir nuevos conocimientos.
        </p>
    </div>
</section>


<section class="experience p-4">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <h3 class="card-title mb-3">
                            Desarrollo web
                        </h3>
                        <p class="card-text">
                            Lorem ipsum itis ipsa doloremque reiciendis.
                        </p>
                        <div class="row gy-2">
                            <div class="col-12">
                                <span class="badge bg-primary">HTML</span>
                                <span class="badge bg-primary">CSS</span>
                                <span class="badge bg-primary">Javascript</span>
                            </div>
                            <div class="col-12">
                                <span class="badge bg-primary">jQuery</span>
                                <span class="badge bg-primary">Bootsrap</span>
                                <span class="badge bg-primary">C#</span>
                            </div>
                            <div class="col-12">
                                <span class="badge bg-primary">.Net</span>
                                <span class="badge bg-primary">SQL</span>
                                <span class="badge bg-primary">Git</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-md">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-phone-fill"></i>
                        </div>
                        <h3 class="card-title mb-3">
                            Desarrollo móvil
                        </h3>
                        <p class="card-text">
                            debitis ipsa doloremque reiciendis.
                        </p>
                        <div class="row gy-3">
                            <div class="col-12">
                                <span class="badge bg-primary">C#</span>
                                <span class="badge bg-primary">.NET</span>
                                <span class="badge bg-primary">MAUI</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>













