@page
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<IndexModel> localizer

@{
    ViewData["Title"] = "Mi portafolio";
}

<section class="hero p-4">
    <div class="container text-center">
        <h1>Carlos Santamaría</h1>
        <h2>Desarrollador de software</h2>
        <p>Apasionado por la tecnología y el desarrollo de soluciones innovadoras</p>
        <div class="contact-info">
            <a class="" target="_blank" href="https://www.linkedin.com/in/carlos-santamaria-solano-83703a1a6/">
                <img class="icon" src="/Images/linkedin-icon.png" />
            </a>
            <a class="" target="_blank" href="https://github.com/Charly7017">
                <img class="icon" src="/Images/github-icon.png" />
            </a>
            <a class="" target="_blank" href="https://github.com/Charly7017">
                <img class="icon" src="/Images/mail.icon.png" />
            </a>  
            <a class="" target="_blank" href="https://github.com/Charly7017">
                <img class="icon" src="/Images/cv-icon.png" />
            </a>
        </div>
@*         <img class="img-fluid hero-inferior-imagen d-none d-md-block" src="/Images/hero-inferior.svg" />
 *@    </div>
</section>



<section id="aboutMe" class="about-me p-4 text-white">
    <div class="container">
        <h2 class="text-center">Conóceme</h2>
        <p class="lead mx-auto descriptionAboutMe">
            Mi trayectoria comenzó durante mis estudios de Ingeniería en Sistemas Computacionales, donde tuve la oportunidad de realizar prácticas profesionales en dos empresas.
            Mi experiencia fue en el desarrollo de proyectos web y móviles, aplicando mis conocimientos para crear soluciones eficientes y adaptadas a las necesidades de los usuarios.
            Aunque estoy en el inicio de mi carrera, mi pasión por la programación me ha llevado a ser autodidacta, siempre buscando mejorar mis habilidades técnicas y al mismo tiempo adquirir nuevos conocimientos.
        </p>
    </div>
</section>


<section id="skills" class="p-4 skills">
    <div class="container text-center">
        <h2 class="mb-3">Habilidades</h2>
        <h3>Frontend</h3>
        <div class="row justify-content-between">
            <div class="col-3 col-md-2">
                <img src="~/Images/html-icon.svg" />
                <p>HTML</p>
            </div>
            <div class="col-3 col-md-2">
                <img src="~/Images/css-icon.svg" />
                <p>CSS</p>
            </div>
            <div class="col-3 col-md-2 ">
                <img src="~/Images/js-icon.svg" />
                <p>Javascript</p>
            </div>
            <div class="col-3 col-md-2">
                <img src="~/Images/jquery.icon.svg" />
                <p>jQuery</p>
            </div>
            <div class="col-3 col-md-2">
                <img src="~/Images/boostrap-icon.svg" />
                <p>Bootstrap</p>
            </div>
        </div> 
        <h3>Backend</h3>
        <div class="row justify-content-between">
            <div class="col-3 col-md-2">
                <img src="~/Images/csharp-icon.svg" />
                <p>C#</p>
            </div>
            <div class="col-3 col-md-2">
                <img src="~/Images/dotnet-icon.svg" />
                <p>.NET</p>
            </div>
            <div class="col-3 col-md-2">
                <img src="~/Images/aspnet-icon.svg" />
                <p>ASP.NET</p>
            </div>
            <div class="col-3 col-md-2 ">
                <img src="~/Images/sql-icon.svg" />
                <p>SQL</p>
            </div>
        </div>
        <h3>Herramientas</h3>
        <div class="row justify-content-between">
            <div class="col-3 col-md-2">
                <img src="~/Images/git-icon.svg" />
                <p>Git</p>
            </div> 
            <div class="col-3 col-md-2">
                <img src="~/Images/github-icon1.svg" />
                <p>GitHub</p>
            </div> 
            <div class="col-3 col-md-2">
                <img src="~/Images/figma-icon.svg" />
                <p>Figma</p>
            </div>
            <div class="col-3 col-md-2">
                <img src="~/Images/azuredevops-icon.svg" />
                <p>Azure DevOps</p>
            </div> 
            <div class="col-3 col-md-2">
                <img src="~/Images/postman-icon.svg" />
                <p>Postman</p>
            </div>
        </div>
        <h3>Otros Conocimientos</h3>
        <div class="row justify-content-around">
            <div class="col-3 col-md-2">
                <img src="~/Images/android-icon.svg" />
                <p>Desarollo android</p>
            </div>
            <div class="col-3 col-md-2">
                <img src="~/Images/kotlin-icon.svg" />
                <p>Kotlin</p>
            </div>
        </div>
    </div>
</section>

<hr />


<section id="experience" class="experience p-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="text-center">Experiencia</h2>
            </div>
            <div class="col-12 col-md-6">
                <div class="row text-center text-md-start">
                    <div class="col-12">
                        <h3>Desarrollador Jr</h3>
                        <p><strong>SHARKSIA</strong> • Agosto 2024 - Presente</p>
                        <p>
                            Actualmente, trabajo como desarrollador junior, donde soy responsable de 
                            brindar soporte técnico a otra empresa. Mi principal tarea 
                            consiste en recibir reportes de problemas,
                            analizar fallos en aplicaciones web, identificar 
                            la causa raíz de los errores e implementar los ajustes 
                            necesarios para corregirlos, asegurando así el correcto 
                            funcionamiento del sistema.
                        </p>
                    </div>
                    <div class="col-12">
                        <h3>Prácticante</h3>
                        <p><strong>Tubos de Acero de México SA (TAMSA)</strong> • Agosto 2023 - Julio 2024</p>
                        <p>Desarrollé aplicaciones web y .NET utilizando C#, abarcando proyectos en MAUI App, MVC App y Web API. </p>
                    </div>
                    <div class="col-12">
                        <h3>Prácticante</h3>
                        <p>
                            <strong>
                                Servicios de Software Ehecatl
                            </strong> • Junio 2022 - Septiembre 2022
                        </p>
                        <p>
                            Fui capacitado con los fundamentos del desarrollo web, adquirí 
                            conocimientos de frontend, backend y bases de datos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer id="contact" class="footer text-white">
    <div class="box">
        <h2>Te interesó mi perfil?</h2>
        <a href="mailto:alexrace18@gmail.com">Contáctame</a>
    </div>
    <div class="contact-info d-flex">
        <a class="rounded-circle" target="_blank" href="https://www.linkedin.com/in/carlos-santamaria-solano-83703a1a6/">
            <i class="bi bi-linkedin social-icons"></i>
        </a>
        <a class="rounded-circle" target="_blank" href="https://github.com/Charly7017">
            <i class="bi bi-github social-icons"></i>
        </a> 
    </div>
    <span class="text-center">Creado por Carlos Santamaría (2024) ©</span>
</footer>
















