

/*General*/
.about-me h2,
.skills h2,
.experience h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

/*navbar css*/
.navbar {
    background-color: #2C3E50;
    color: #ECF0F1;
    font-size: 1.2rem;
}


/*Hero css*/
.hero {
    height: 80vh;
    display: flex;
    align-items: center;
}

h1 {
    font-size: clamp(2.3rem, 3vw, 4.5rem);
    font-weight: 700;
}

.hero h2 {
    font-size: clamp(3rem, 4vw, 5rem);
    font-weight: 700;
}

.hero p {
    font-size: clamp(1rem, 2vw, 2rem)
}

.contact-info a {
    text-decoration: none;
}

.contact-info .icon {
    width: 3rem;
    height: 3rem;
    transition: transform 0.3s ease;
}

.contact-info .icon:hover {
    transform: scale(1.2);

}


/*About me section css*/

.about-me {
    background-color: #6E07F3;
}

.descriptionAboutMe {
    max-width: 800px;
}

/*Skills section*/

/* Estilos generales para los íconos */
#skills img {
    width: 100px;
    height: auto;
}

/* Ajuste para pantallas medianas */
@media (max-width: 768px) {
    #skills img {
        width: 60px;
        height: auto;
    }
}



/*Experience section*/

.experience-item {
    background-color: #fff;
}

.experience-date {
    margin-bottom: 10px;
    font-size: 0.85rem;
}

.experience-company {
    margin-bottom: 10px;
}

.experience-description {
    margin: 0;
}


/*footer section*/

.footer {
    height: 400px;
    background-color: #6E07F3;
    /*    display: flex;
    justify-content: space-around;
    align-items: center;*/
}
