@page
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<IndexModel> localizer

@{
    ViewData["Title"] = "Mi portafolio";
}

<section class="hero p-4">
    <div class="container text-center text-white">
        <h1 class="hero-title">Carlos Santamaría</h1>
        <h2 class="hero-subtitle">Desarrollador de software</h2>
        <p class="hero-description">
            Pasión por la tecnología y desarrollo de soluciones innovadoras
        </p>
        <div class="contact-info gap-4 d-flex justify-content-center mt-4 mb-4 reveal-contact">
            <a class="icon-link" target="_blank" href="https://www.linkedin.com/in/carlos-santamaria-solano-83703a1a6/">
                <i class="bi bi-linkedin"></i>
            </a>
            <a class="icon-link" target="_blank" href="https://github.com/Charly7017">
                <i class="bi bi-github"></i>
            </a>
            <a class="icon-link" target="_blank" href="mailto:your-email@example.com">
                <i class="bi bi-envelope"></i>
            </a>
            <a class="icon-link" target="_blank" href="/path/to/your-cv.pdf">
                <i class="bi bi-file-earmark-person"></i>
            </a>
        </div>
    </div>
</section>



<section id="aboutMe" class="about-me p-4 text-white">
    <div class="about-me__container container">
        <h2 class="about-me__title text-center reveal-title">Conóceme</h2>
        <p class="about-me__description mx-auto lead reveal-description">
            Mi trayectoria comenzó durante mis estudios de Ingeniería en Sistemas Computacionales, donde tuve la oportunidad de realizar prácticas profesionales en dos empresas.
            Mi experiencia fue en el desarrollo de proyectos web y móviles, aplicando mis conocimientos para crear soluciones eficientes y adaptadas a las necesidades de los usuarios.
            Aunque estoy en el inicio de mi carrera, mi pasión por la programación me ha llevado a ser autodidacta, siempre buscando mejorar mis habilidades técnicas y al mismo tiempo adquirir nuevos conocimientos.
        </p>
    </div>
</section>



<section id="experience" class="experience p-4 text-white">
    <div class="container">
        <h2 class="text-center mb-4 reveal-experience-title">Experiencia</h2>
        <div class="timeline">
            <!-- Desarrollador Jr -->
            <div class="timeline-item reveal-experience">
                <div class="timeline-content p-4">
                    <h3>Desarrollador Jr</h3>
                    <p><strong>SHARKSIA</strong> • Agosto 2024 - Presente</p>
                    <p>
                        Actualmente, trabajo como desarrollador junior, donde soy responsable de
                        brindar soporte técnico a otra empresa. Mi principal tarea consiste en recibir
                        reportes de problemas, analizar fallos en aplicaciones web, identificar
                        la causa raíz de los errores e implementar los ajustes necesarios para corregirlos,
                        asegurando así el correcto funcionamiento del sistema.
                    </p>
                </div>
            </div>
            <!-- Prácticante en TAMSA -->
            <div class="timeline-item reveal-experience">
                <div class="timeline-content p-4">
                    <h3>Prácticante</h3>
                    <p><strong>Tubos de Acero de México SA (TAMSA)</strong> • Agosto 2023 - Julio 2024</p>
                    <p>Desarrollé aplicaciones web y .NET utilizando C#, abarcando proyectos en MAUI App, MVC App y Web API.</p>
                </div>
            </div>
            <!-- Prácticante en Ehecatl -->
            <div class="timeline-item reveal-experience">
                <div class="timeline-content p-4">
                    <h3>Prácticante</h3>
                    <p><strong>Servicios de Software Ehecatl</strong> • Junio 2022 - Septiembre 2022</p>
                    <p>
                        Fui capacitado con los fundamentos del desarrollo web, adquirí
                        conocimientos de frontend, backend y bases de datos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="highlightedProjects" class="highlightedProjects p-4 text-white">
    <div class="container">
        <h2 class="text-center mb-4 reveal-projects-title">Proyectos Destacados</h2>
        <div class="row mb-4 reveal-projects-row gy-3">
            <div class="col-12 col-md-4">
                <div class="cardProjects reveal-card">
                    <img src="https://via.placeholder.com/300x180" alt="Project Image">
                    <h5>Gestor de Tareas</h5>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="cardProjects reveal-card">
                    <img src="https://via.placeholder.com/300x180" alt="Project Image">
                    <h5>Otro Proyecto</h5>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="cardProjects reveal-card">
                    <img src="https://via.placeholder.com/300x180" alt="Project Image">
                    <h5>Otro Proyecto</h5>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btnProjects reveal-btn">Ver proyectos</a>
        </div>
    </div>
</section>




<section id="skills" class="p-4 skills">
    <div class="container text-center text-white">
        <h2 class="mb-3">Habilidades</h2>
        <h3 class="mb-4">Frontend</h3>
        <div class="row justify-content-between">
            <div class="col-3 col-md-2">
                <img src="~/Images/html-icon.svg" />
                <p>HTML</p>
            </div>
            <div class="col-3 col-md-2">
                <img src="~/Images/css-icon.svg" />
                <p>CSS</p>
            </div>
            <div class="col-3 col-md-2 ">
                <img src="~/Images/js-icon.svg" />
                <p>Javascript</p>
            </div>
            <div class="col-3 col-md-2">
                <img src="~/Images/jquery.icon.svg" />
                <p>jQuery</p>
            </div>
            <div class="col-3 col-md-2">
                <img src="~/Images/boostrap-icon.svg" />
                <p>Bootstrap</p>
            </div>
        </div> 
        <h3 class="mb-4">Backend</h3>
        <div class="row justify-content-between">
            <div class="col-3 col-md-2">
                <img src="~/Images/csharp-icon.svg" />
                <p>C#</p>
            </div>
            <div class="col-3 col-md-2">
                <img src="~/Images/dotnet-icon.svg" />
                <p>.NET</p>
            </div>
            <div class="col-3 col-md-2">
                <img src="~/Images/aspnet-icon.svg" />
                <p>ASP.NET</p>
            </div>
            <div class="col-3 col-md-2 ">
                <img src="~/Images/sql-icon.svg" />
                <p>SQL</p>
            </div>
        </div>
        <h3 class="mb-4">Herramientas</h3>
        <div class="row justify-content-between">
            <div class="col-3 col-md-2">
                <img src="~/Images/git-icon.svg" />
                <p>Git</p>
            </div> 
            <div class="col-3 col-md-2">
                <img src="~/Images/github-icon1.svg" />
                <p>GitHub</p>
            </div> 
            <div class="col-3 col-md-2">
                <img src="~/Images/figma-icon.svg" />
                <p>Figma</p>
            </div>
            <div class="col-3 col-md-2">
                <img src="~/Images/azuredevops-icon.svg" />
                <p>Azure DevOps</p>
            </div> 
            <div class="col-3 col-md-2">
                <img src="~/Images/postman-icon.svg" />
                <p>Postman</p>
            </div>
        </div>
        <h3 class="mb-4">Otros Conocimientos</h3>
        <div class="row justify-content-center">
            <div class="col-3 col-md-2">
                <img src="~/Images/android-icon.svg" />
                <p>Desarollo android</p>
            </div>
            <div class="col-3 col-md-2">
                <img src="~/Images/kotlin-icon.svg" />
                <p>Kotlin</p>
            </div>
        </div>
    </div>
</section>


<footer id="contact" class="footer text-white d-flex gap-3 flex-column flex-lg-row justify-content-evenly align-items-center">
    <h2 class="mb-3">Carlos Santamaría</h2>
    <div class="d-flex flex-column gap-2 mb-4">
        <h3 class="mb-3">Navegación</h3>
        <span>Sobre mí</span>
        <span>Experiencia</span>
    </div>
</footer>


















