@page
@model Portafolio.Pages.ProjectsModel

@{
    ViewData["Title"] = "Proyectos";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Projects.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <section class="projects p-4">
        <div class="container text-center">
            <h1 class="mb-3">Proyectos</h1>
            <nav class="navigation mx-auto">
                <ul class="nav-list">
                    <li class="active">
                        <a href="#">
                            <!-- svg -->
                            Todos los proyectos
                        </a>
                    </li>
                    <li>
                        <a href="#web">
                            <!-- svg -->
                            Web
                        </a>
                    </li>
                    <li>
                        <a href="#mobile">
                            <!-- svg -->
                            Móvil
                        </a>
                    </li>
                    <li>
                        <a href="#mini">
                            <!-- svg -->
                            Mini proyectos
                        </a>
                    </li>
                    <!-- more links -->
                    <div class="active-bar"></div>
                </ul>
            </nav>

            <div class="row row-cols-1 row-cols-lg-2 mb-4 reveal-projects-row gy-5  mt-4 text-white">
                <div class="col">
                    <div class="cardProjects">
                        <img src="/Images/sampleImg.png" alt="Project Image">
                        <h5>Proyecto 1</h5>
                        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Litora mollis sagittis sem facilisis tempor natoque venenatis commodo.</p>
                        <p>HTML, CSS, BOOSTRAP, APS.NET, KNOCKOUT</p>
                        <a target="_blank" class="btnGithub" href="https://github.com/Charly7017"><i class="bi bi-github"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="cardProjects">
                        <img src="/Images/sampleImg.png" alt="Project Image">
                        <h5>Proyecto 2</h5>
                        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Litora mollis sagittis sem facilisis tempor natoque venenatis commodo.</p>
                        <p>HTML, CSS, BOOSTRAP, APS.NET, KNOCKOUT</p>
                        <a target="_blank" class="btnGithub" href="https://github.com/Charly7017"><i class="bi bi-github"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="cardProjects">
                        <img src="/Images/sampleImg.png" alt="Project Image">
                        <h5>Proyecto 3</h5>
                        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Litora mollis sagittis sem facilisis tempor natoque venenatis commodo.</p>
                        <p>HTML, CSS, BOOSTRAP, APS.NET, KNOCKOUT</p>
                        <a target="_blank" class="btnGithub" href="https://github.com/Charly7017"><i class="bi bi-github"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="cardProjects">
                        <img src="/Images/sampleImg.png" alt="Project Image">
                        <h5>Proyecto 3</h5>
                        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Litora mollis sagittis sem facilisis tempor natoque venenatis commodo.</p>
                        <p>HTML, CSS, BOOSTRAP, APS.NET, KNOCKOUT</p>
                        <a target="_blank" class="btnGithub" href="https://github.com/Charly7017"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="~/js/ProjectsAnimationNav.js" asp-append-version="true"></script>
</body>
</html>
